<!--Section: Post data-bs-->
<section class="border-bottom my-4">
    <h1 class="display-3">{{ heading | default: page.title | escape }}</h1>
    <p class="mb-3 lead"><em>{{ subheading | default: page.subtitle | escape }}</em></p>
    <p class="text-primary">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.yat.date_format | default: "%b %-d, %Y" -%}
        <i class="fa fa-calendar"></i> {{ page.date | date: date_format }}
      </time>

      {% assign article = page.content %}
      {% assign lang = page.lang %}
      {%- include functions.html func='get_reading_time' -%}
      {% assign reading_time = return %}
      <span><i class="fas fa-clock"></i> {{ reading_time }}</span>
    </p>
    {%- if page.tags.size > 0 -%}
    <div>
      {%- for tag in page.tags -%}
        <a href="{{ '/tags.html ' | relative_url }}#{{tag}}"><span class="badge rounded-pill bg-primary me-1">#{{tag}}</span></a>
      {%- endfor -%}
    </div>
    {%- endif -%}
  <!-- Jumbotron -->
</section>
<!--Section: Post data-bs-->
