{%- if include.keys -%}
  {%- assign keys = include.keys -%}
{%- endif -%}

{%- if include.field -%}
  {%- assign field = include.field -%}
{%- endif -%}

<div class="mt-4">
  {% for key in keys %}
    <h2 id="{{ key }}" class="segment-name">{{ key }}</h2>
      <ul class="list-group list-group-light">
      {% assign items = site.posts | where: field, key %}
      {% for item in items %}
        {% if item != nil %}
        <li class="list-group-item list-group-item-action px-3 border-0 ripple"> {% include views/post-item.html %} </li>
        {% endif %}
      {% endfor %}
    </ul>
  {% endfor %}
</div>
