{%- if include.keys -%}
  {%- assign keys = include.keys -%}
{%- endif -%}

{%- if include.field -%}
  {%- assign field = include.field -%}
{%- endif -%}

<div>
  <ul class="list-group list-group-light list-group-small">
    <a href="{{ '/index.html' | relative_url }}">
      <li class="list-group-item d-flex justify-content-between align-items-center border-0">
          All
          <span class="badge badge-primary rounded-pill">{{ site.posts.size }}</span>
      </li>
    </a>

    {% for key in  keys %}
      <a href="{{ url }}#h-{{ key }}">
        <li class="list-group-item d-flex justify-content-between align-items-center border-0">
            {{ key }}
            <span class="badge badge-primary rounded-pill">{{ site.posts | where: field, key | size }}</span>
        </li>
      </a>
    {% endfor %}
  </ul>
</div>
